:root {
    --accent-color:#FED136;
    --main-color: #777;
    --add-color: #222;
    --add-white: #fff;
}

h2, h3 {
    color: var(--accent-color);
}

/* h2, h3 {
    color: tomato;
} */
.nav {
    color: rgb(100, 0, 150);
}
header{
    background-color: rgba(3, 200, 10, 0.7);
}
.list-hero >li{
    color: #0C5994 ;
}

.section-hero {
    background-color: yellow;
}
.section-hero a {
    font-size: 50px;
}
.section-info > p {
    color: violet;
}
/* h2 {
    color: red;
} */
/* * {
    color: green;
} */
/* a {
    text-decoration: none;
}
.list {
    list-style: none;
    font-size: 20px;
}
.list-header {
    color: green;
} */
/* Доробити!!! */
/* .text-hero {
    font-size: 40px;
} */
/* #hero {
    color: gray;
} */
/* a[href*="google"] {
    color: orange;
}
h2, h3, ul {
    margin: 0px;
}
header li {
    color: yellow;
}
section > p {
    font-size: 40px;
}
nav + a {
    background-color: yellow;
}
.hero ~ p {
    background-color: gray;
} */

